In [1]:
# importing libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# reading csv files
df =  pd.read_csv('adult.data', sep=",", header=None, skipinitialspace=True)
df2 = pd.read_csv('adult.test', sep=",", header=None, skipinitialspace=True)

# Join the data and test files together
df = pd.concat([df, df2])

#Adding column headers to our data 
df.columns = ["Age", "Workclass", "Fnlwgt", "Education", "Education-num", "Marital-status", "Occupation", "Relationship", "Race", "Sex", "Capital-gain", "Capital-loss", "Hours-per-week", "Native-country", "Income"]

# 3 random rows
(df.sample(3))

,Age,Workclass,Fnlwgt,Education,Education-num,Marital-status,Occupation,Relationship,Race,Sex,Capital-gain,Capital-loss,Hours-per-week,Native-country,Income
27303,31,Private,58582,Some-college,10,Never-married,Craft-repair,Not-in-family,White,Male,0,0,46,United-States,<=50K
15504,23,Private,238092,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
4770,33,Private,180574,Assoc-voc,11,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K.

In [3]:
# shape of dataset

df.shape

(48842, 15)

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

# Created copy of X table and added y column back to XVisual, to allow us to carry out below calculations
XVisual = X
XVisual['y'] = y

Sex = []
lowest = 10
zero = []
one = []
       
# Goes through 
while len(Sex) < 2:
    for i in range(2):
        df_new = XVisual[XVisual['Sex'] == (XVisual['Sex'].value_counts().index.tolist())[i]]
        Sex.append(df_new['Sex'].iloc[0])
        zero.append(df_new['y'].value_counts()[0])
        one.append(df_new['y'].value_counts()[1])
        lowest += 10
            

# # Plots bar chart with zero and one on top of each other
# ind = ['(10-20]', '(20-30]', '(30-40]', '(40-50]', '(50-60]', '(60-70]', '(70-80]', '(80-90]']
# width = 0.9
# fig = plt.figure()
# ax = fig.add_axes([0,0,1,1])
# ax.bar(ind, zero, width, color='r', edgecolor = "black")
# ax.bar(ind, one, width, bottom=zero, color='b', edgecolor = "black")
# ax.set_ylabel('Number of instances')
# ax.set_title('Number of instances of income by ages')
# ax.legend(labels=['Zero', 'One'])
# plt.show()

# Plots bar chart with zero and one next to each other
ind = np.arange(len(Sex))
# ind = ['(10-20]', '(20-30]', '(30-40]', '(40-50]', '(50-60]', '(60-70]', '(70-80]', '(80-90]']
width = 0.4
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
ax.bar(ind-0.2, zero, width, color='r', edgecolor = "black")
ax.bar(ind+0.2, one, width, color='b', edgecolor = "black")
ax.set_ylabel('Number of instances')
ax.set_title('Number of instances of income by ages')
ax.legend(labels=['<=50k', '>50k'])
ax.set_xticklabels(['','','Man','','','','Woman'])
# ax.set_xticklabels(['Man','Woman'])
plt.show()